<mat-card>
    <form [formGroup]="form" class="min-width">

        <mat-card-content>
            <mat-toolbar>Inserir Curso</mat-toolbar>
            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>


            <mat-form-field class="full-width">
                <mat-label>Categorias</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="null"></mat-option>
                    <mat-option value="Front-End">Front-End</mat-option>
                    <mat-option value="Back-End">Back-End</mat-option>
                  </mat-select>
            </mat-form-field>
        </mat-card-content>
    </form>

    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>